* {
  padding: 0;
}

body {
  font: 16px 'Roboto';
}

.conteiner {
  width: 620px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 20px 0;
}

.header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.photo,
.author {
  display: inline-block;
}

.author {
  margin-left: 15px;
  vertical-align: top;
}



